ENABLE_BOOTSTRAP_DATA=false
ALLOW_BOOTSTRAP_AS_FRESH_CACHE=false
ENABLED_SOURCES=usgs_geojson,usgs_fdsn,emsc,isc,geofon,bmkg,geonet
SOURCE_TIMEOUT_SECONDS=15
SOURCE_MAX_RETRIES=2
SOURCE_REFRESH_TTL_SECONDS=300
SOURCE_BMKG_RATE_LIMIT_PER_MINUTE=60
SOURCE_ENABLE_AUSPASS=false
SOURCE_ENABLE_EXPERIMENTAL=false
MAX_API_LIMIT=2000
ADMIN_TOKEN=change-me
SECRET_KEY=change-me
