<!doctype html>
<html>

   <body>
   <center>
   <h1></h1>
   <br>
   <div>
   <h2>Data Visualization using javascript and python flask</h2>
   </div>
   <div>
   <h3>Query 1  </h3>
   
		
		<form method="post" align = "center" action="/query5">
		<br><br>
		Enter Magnitiude-
		<br><br>
		<input type="text" name="mag1" id="mag1">
		<br><br>
		<input type="text" name="mag2" id="mag2">
		<br><br>
	   
		<input type="submit" value="Horizontal Bar" formaction= "../horizontal">
		<input type="submit" value="Line Chart" formaction= "../linechart">
		<input type="submit" value="Pie Chart" formaction= "../piechart">
		<input type="submit" value="Scatter Chart" formaction= "../scatterplot">
		<br>
	    </form>
			<form method="post" align = "center" action="/plot">
		<br><br>
		Enter two latitudes and longitude
		<br><br>
		First Values
		<br>
		<input type="text" name="lat1" id="lat1">
		<br><br>
		<input type="text" name="long1" id="long1">
		<br>
		Second Values
		<br>
		<input type="text" name="lat2" id="lat2">
		<br><br>
		<input type="text" name="long2" id="long2">
		<br><br>
	    <input type="submit" value="Plot">
	    </form>
	   <br>
	 </div>
	
   </body>
</html>
