<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1 style="text-align:center;">Bar Graph</h1>

   
	<script> 
	var margin = {top: 20, right: 10, bottom: 100, left:400},
		width = 900 - margin.right - margin.left,
		height = 500 - margin.top - margin.bottom;

	var svg = d3.select("body")
		.append("svg")
		  .attr ({
			"width": width + margin.right + margin.left,
			"height": height + margin.top + margin.bottom
		  })
		.append("g")
		  .attr("transform","translate(" + margin.left + "," + margin.right + ")");

	var xScale = d3.scale.ordinal()
		.rangeRoundBands([0,width], 0.2, 0.2);

	var yScale = d3.scale.linear()
		.range([height, 0]);

	var xAxis = d3.svg.axis()
		.scale(xScale)
		.orient("bottom");

	var yAxis = d3.svg.axis()
		.scale(yScale)
		.orient("left");

	data = {{rows|tojson}}
			

	  data.sort(function(a,b) {
		return a.long - b.long;
	  });

	  xScale.domain(data.map(function(d) { return d.long; }) );
	  yScale.domain([0, d3.max(data, function(d) { return d.mag; } ) ]);

	  svg.selectAll('rect')
		.data(data)
		.enter()
		.append('rect')
		.attr("height", 0)
		.attr("y", height)
		.attr({
		  "x": function(d) { return xScale(d.long); },
		  "y": function(d) { return yScale(d.mag); },
		  "width": xScale.rangeBand(),
		  "height": function(d) { return  height - yScale(d.mag); }
		})
		.style("fill", function(d,i) { return 'rgb( ' + ((i * 30) + 100) + ', 20,20)'});
			svg.selectAll('text')
				.data(data)
				.enter()
				.append('text')
				.text(function(d){
					return d.mag;
				})
				.attr({
					"x": function(d){ return xScale(d.long) +  xScale.rangeBand()/2; },
					"y": function(d){ return yScale(d.mag)+ 12; },
					"font-family": 'sans-serif',
					"font-size": '13px',
					"font-weight": 'bold',
					"fill": 'white',
					"text-anchor": 'middle'
				});

		svg.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + height + ")")
			.call(xAxis)
			.selectAll("text")
			.attr("dx", "-.8em")
			.attr("dy", ".25em")
			.attr("transform", "rotate(-60)" )
			.style("text-anchor", "end")
			.attr("font-size", "12px");

		
		svg.append("g")
			.attr("class", "y axis")
			.call(yAxis)
			.append("text")
			.attr("transform", "rotate(-90)")
			.attr("x", -height/2)
			.attr("dy", "-3em")
			.style("text-anchor", "middle")
			.text("Mag values");
	</script>

  </body>

</html>